main {
  text-align: center;
  padding: 2em;
}

.heading {
  letter-spacing: 0.1em;
  font-size: calc(1vw + 0.8em);
}

.subheading {
  font-weight: 300;
  margin: 3em;
  font-size: calc(1vw + 0.5em);
}

.fa-exclamation-circle {
  color: var(--warning-color);
}

a.navigate {
  border-radius: 8px;
  padding: calc(0.1vh + 1em) calc(0.1vw + 2em);
  border: 1px solid var(--primary-color-dark);
  text-decoration: none;
  color: white;
  transition: 0.2s;
  padding: 1em 2em;
  margin-top: 30px;
}

a.navigate:hover {
  background-color: var(--solid-green);
  color: var(--hover-button-text-clr);
}
