:root {
  --white-solid: #eeeeee;
  --grey-solid: #828282;
  --grey-solid_5: rgba(160, 159, 159, 0.144);
  --black_transparent: rgba(0, 0, 0, 0.726);
  --normal-scrolbar-clr: #1ed75f18;
  --active-scrolbar-clr: #1ed75f38;
  --grey-solid_10: rgba(160, 159, 159, 0.247);
  --primary-color: #1ed760;
  --primary-color-dark: #1dbb54;
  --solid-green: #22cc5db2;
  --solid-blue: hsl(225, 77%, 33%);
  --solid-blue-alt: hsl(223, 78%, 12%);
  --solid-dark: #0c0b0b;
  --solid-dark-alt: #161313;
  --solid-darker: #000;
  --sand-solid: #ecebe8;
  --window-actions-elevation: 2;
  color: white;
  font-size: 14px;
  font-family: "Montserrat", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  /* position: relative; */
  background: #0c0b0b !important;
}

nav {
  /* position: absolute; */
  width: 100%;
  height: 80px;
}

main {
  font-family: "Montserrat", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5rem 0;
  /* min-height: 90vh; */
}

.faq-header {
  font-size: 3rem;
  font-weight: bold;
  color: var(--sand-solid);
  margin-bottom: 3rem;
}

.accordion {
  width: 70%;
}

.accordion-item {
  background: #0c0b0b !important;
  border: 0 !important;
  margin-bottom: .5rem;
}

.accordion-button {
  background: #161313 !important;
  color: var(--white-solid) !important;
}

.accordion-button:focus {
  outline: none !important;
  box-shadow: none !important;
}

.accordion-button::after {
  background-image: url(../assets/chevron-up.svg) !important;
}

.accordion-button:not(.collapsed)::after {
  background-image: url(../assets/chevron-up.svg) !important;
}

.accordion-body {
  color: var(--sand-solid);
}

.bug {
  border: var(--grey-solid_10) solid 1px;
  padding: 1rem;
  border-radius: .5rem;
  margin-bottom: 2rem;
}

.bug-title {
  font-size: 1.7rem !important;
  font-weight: bold;
  margin-bottom: 1rem;
}

.bug h2 {
  font-size: 1.4rem;
}

@media (max-width: 768px) {
  .faq-header {
    text-align: center;
    font-weight: normal;
    width: 80%;
  }
  .accordion {
    width: 80%;
  }
}

@media (max-width: 576px) {
  .faq-header {
    text-align: center;
    font-weight: normal;
    width: 90%;
  }
  .accordion {
    width: 90%;
  }
}

@media (max-width: 380px) {
  .faq-header {
    text-align: center;
    font-weight: normal;
    font-size: 2rem;
    width: 90%;
    margin: 0 auto;
  }
  .accordion {
    width: 95%;
  }
}

/*  End Known Bugs and Workarounds section  */
