root = true

[*]
charset = utf-8
files.trimTrailingWhitespace = false
indent_style = tab
indent_size = tab
insert_final_newline = true
trim_trailing_whitespace = true

[*.md]
trim_trailing_whitespace = false
