{
	"env": {
		"browser": true,
		"commonjs": true,
		"es2021": true,
		"node": true
	},
	"extends": "eslint:recommended",
	"overrides": [],
	"parserOptions": {
		"ecmaVersion": "latest"
	},
	"rules": {
		"camelcase": "error",
		"prefer-const": "warn",
		"no-unused-vars": "warn",
		"linebreak-style": [
			"error",
			"windows"
		],
		"quotes": [
			"error",
			"double"
		],
		"semi": [
			"error",
			"always"
		],
		"eqeqeq": [
			"error",
			"always"
		]
	}
}
