@import url(global-styles.css);

.download-window {
  width: 100%;
  height: 100%;
}

.list-container {
  border: 2px solid var(--grey-solid_5);
  position: absolute;
  top: 20px;
  bottom: 15%;
  left: 20px;
  right: 20px;
}

.list {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
}

.list-actions {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.list-actions > button {
  margin: 10px;
  padding: 5px 20px;
  background-color: var(--primary-color-dark);
  color: white;
}

.list-actions > .btn-negative {
  background-color: hsl(0, 74%, 45%);
}

.list-actions > button:hover {
  opacity: 0.8;
}

.list-actions > button:disabled {
  cursor: no-drop;
  opacity: 0.7;
}

.list-group-item {
  position: relative;
  border-bottom: 1px solid var(--grey-solid_5);
}

.list-group {
  height: 100%;
  width: 100%;
}

.list-group-item img {
  width: 100px;
  height: 90%;
  border-radius: 4px;
  object-fit: cover;
}

.media-body {
  position: relative;
  height: 100%;
  padding: 10px;
}

.list-group > .list-group-item {
  height: 100px;
  width: 100%;
  transition: 0.1s;
}

.list-group > .list-group-item:hover {
  background-color: var(--grey-solid_5);
}

.list-group-item input[type="checkbox"] {
  position: absolute;
  top: 40%;
  right: 20px;
}

.list-group-header {
  display: flex;
  justify-content: space-between;
  padding-inline: 20px;
  border-bottom: 1px solid var(--grey-solid_5);
}

.list-group-header > .select-action {
  display: flex;
  gap: 10px;
}
