:root {
    --toolbar-height: 40px;
    --white-solid: #eeeeee;
    --grey-solid: #828282;
    --grey-solid_5: rgba(160, 159, 159, 0.144);
    --black_transparent: rgba(0, 0, 0, 0.726);
    --normal-scrolbar-clr: #1ed75f18;
    --active-scrolbar-clr: #1ed75f38;
    --grey-solid_10: rgba(160, 159, 159, 0.247);
    --primary-color: #1ed760;
    --primary-color-dark: hsl(141, 78%, 16%);
    --primary-color-dark-alt-2: hsl(144, 82%, 38%);
    --primary-color-dark-alt: hsl(143, 63%, 10%);
    --solid-green: #22cc5db2;
    --solid-blue: hsl(225, 76%, 10%);
    --solid-blue-alt: hsl(223, 78%, 12%);
    --solid-dark: #0c0b0b;
    --solid-dark-alt: #161313;
    --solid-darker: #000;
    --sand-solid: #ecebe8;
    --window-actions-elevation: 2;
    color: var(--grey-solid);
}

html,
body {
    width: 100%;
    height: 100%;
}

.icon-x2 {
    font-size: 1.8em;
}

.abs-bottom {
    position: absolute;
    bottom: 10px;
    left: 15%;
}

.invisible {
    display: none;
}

.gone {
    display: none;
    border: none;
    padding: 0;
    margin: 0;
}

.bounce {
    animation: 10s scale-bounce 0.5s ease-in-out infinite forwards;
}

.bounce:hover {
    animation: none;
}

.toolbar {
    line-height: var(--toolbar-height);
    height: var(--toolbar-height);
}

.toolbar-footer {
    height: 30px;
    max-height: 22px;
    border: 1px solid var(--grey-solid_5);
}

.toolbar>h1 {
    line-height: var(--toolbar-height);
    text-align: start;
    margin-left: 60px;
}

.toolbar {
    position: relative;
}

.toolbar>img {
    position: absolute;
    top: 10px;
    left: 20px;
}

.window {
    margin-top: var(--toolbar-height);
}

.nav-group-item {
    cursor: pointer;
    padding: 8px 16px;
    margin: 8px 8px;
    border-radius: 4px;
    transition: all 0.1s ease-in 0.1s;
}

.nav-group-item.active {
    color: var(--white-solid);
    background-color: var(--grey-solid_5);
}

.nav-group-item:hover {
    color: var(--white-solid)
}

.window-action-group {
    position: absolute;
    display: flex;
    top: 0;
    right: 0;
    width: 138px;
    height: 40px;
    background-color: rgba(255, 255, 255, 0.01);
}

.non-draggable {
    -webkit-app-region: no-drag;
}

.window-action-group>*,
.window-action-group>*>* {
    z-index: var(--window-actions-elevation);
    /* cursor: pointer; */
}

.window-action-group>* {
    width: calc(138px / 3);
    height: 100%;
}

.window-action>img {
    width: 100%;
    height: 100%;
    /* padding: 5px; */
    transform: scale(.5, .5);
}

.window-action-minimize:hover,
.window-action-maximize:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.window-action-close:hover {
    background-color: rgb(155, 14, 14);
}

body,
.window-content,
.pane-group,
.pane-sm,
.toolbar {
    background-color: var(--solid-darker);
}

* {
    border: none;
}

.nav-group-item [class="active"] {
    color: var(--white-solid);
}

.pane {
    background-color: var(--solid-dark);
    position: relative;
}

.sidebar {
    position: relative;
}

.downloads-operation {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 50px;
    width: 100%;
    height: 50px;
    background-color: var(--solid-darker);
}

.tab-group {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--grey-solid_5);
    position: absolute;
    left: 0;
    right: 0;
    top: 50px;
    bottom: 60px;
    width: 100%;
    height: 60px;
    background-color: var(--solid-darker);
}

.__tab-item {
    letter-spacing: 0.1em;
    border-radius: 50px;
    height: 60%;
    width: 130px;
    background-color: var(--grey-solid_5);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
    cursor: pointer;
    transition: 0.5s;
}

.__tab-item.active,
.__tab-item:hover {
    color: var(--white-solid);
    background-color: var(--grey-solid_10);
}

.tab-content::-webkit-scrollbar {
    width: 15px;
    border-left: 1px solid var(--normal-scrolbar-clr);
}

.tab-content::-webkit-scrollbar-thumb {
    background-color: var(--normal-scrolbar-clr);
    border-radius: 100vw;
}

.tab-content::-webkit-scrollbar-thumb:hover {
    background-color: var(--active-scrolbar-clr);
}

.tab-content::-webkit-scrollbar-track {
    background-color: transparent;
    margin-block: 8px;
}

.tab-content {
    /* background-color: red; */
    position: absolute;
    top: 110px;
    bottom: 0;
    right: 0;
    left: 0;
    overflow-y: scroll;
}

.tab-content>* {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    transition: 0.3s;
}

.list-group-item {
    border-bottom: 1px solid var(--grey-solid_5);
}

.list-group {
    /* background-color: red; */
    height: 100%;
    width: 100%;
}

.list-group-item>:first-child {
    /* background-color: red; */
    width: 100px;
    height: 90%;
    border-radius: 4px;
}

.media-body {
    position: relative;
    height: 100%;
    padding: 10px;
    /* background-color: red; */
}

.media-body>.op-icon {
    --pos: calc(88% + 2vw);
    position: absolute;
    top: 30%;
    width: 40px;
    background-color: var(--grey-solid_5);
    border-radius: 8px;
    padding: 0 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
}

.media-body>.op-icon:first-of-type {
    left: var(--pos);
}

.media-body>.op-icon:last-of-type {
    left: calc(var(--pos) - 70px);
}

.media-body>.op-icon:hover {
    background-color: var(--grey-solid_10);
}

.media-body>.op-icon:active {
    border: 1px solid var(--primary-color-dark);
}

.message {
    margin-top: 8px;
}

.media-body>.horizontal-progress {
    --progress-width: 20px;
    --progress-anim: 2s move linear infinite forwards;

    position: relative;
    width: 80%;
    height: 10px;
    background-color: var(--normal-scrolbar-clr);
    border-radius: 8px;
    margin-top: 8px;
}

.media-body>.horizontal-progress::before {
    display: block;
    content: '';
    background: linear-gradient(var(--normal-scrolbar-clr), var(--primary-color-dark), var(--normal-scrolbar-clr));
    width: var(--progress-width);
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    border-radius: 8px;
    animation: var(--progress-anim);
    transition: 0.2s;
}

.list-group>* {
    /* background-color: blue; */
    height: 100px;
    width: 100%;
}

.downloads-operation>* {
    transition: 0.5s;
    /* cursor: pointer; */
}

.paste {
    border-radius: 4px;
    background-color: var(--grey-solid_5);
    position: absolute;
    top: 10%;
    left: 2px;
    width: 110px;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.paste:hover {
    background-color: var(--grey-solid_10);
}

.paste:active {
    border: 1px solid var(--primary-color-dark);
}

.refresh {
    left: 120px;
}

.pause {
    left: 172px;
}

.delete {
    left: 224px;
}

.downloads-operation>*+* {
    border-radius: 4px;
    height: 80%;
    width: 45px;
    background-color: var(--grey-solid_5);
    padding: 0 8px;
    position: absolute;
    top: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.downloads-operation>*+*,
.downloads-operation>*+*>* {
    cursor: pointer;
}

.downloads-operation>*+*:hover {
    background-color: var(--grey-solid_10);
}

.downloads-operation>*+*:active {
    border: 1px solid var(--primary-color-dark);
}

.donate {
    color: var(--sand-solid);
    background-color: transparent;
    border: 1px solid var(--solid-green);
    border-radius: 20px;
    padding: 8px 20px;
    cursor: pointer;
    transition: 0.3s;
    letter-spacing: 0.2em;
}

.donate:hover {
    opacity: 0.9;
    color: var(--white-solid);
    background-color: var(--solid-green);
}

.modal {
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(../../sample-images/saso-tusar-QtgGYlug6Cw-unsplash.jpg) no-repeat;
    background-position: center;
}

.modal__login::after {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    z-index: 4;
    background-color: rgba(0, 0, 0, 0.39);
}

.modal__login {
    z-index: 5;
    box-shadow: 0 0 16px 16px rgba(0, 0, 0, 0.219);
    width: 50vw;
    height: 70vh;
    max-width: 500px;
    min-width: 800px;
    max-height: 800px;
    min-height: 200px;
    display: flex;
    flex: 1;
    border-radius: 8px;
    overflow: hidden;
    background-color: var(--solid-dark-alt);
    /* position: absolute; */
    top: calc(10% + 5vh);
    animation: 3s op ease-in-out forwards;
}

.modal__login>.split-pane {
    color: wheat;
    z-index: 10;
    width: 60%;
    height: 100%;
}

.split-pane.split-pane__left {
    width: 40%;
    background: var(--primary-color-dark-alt);
}

.split-pane.split-pane__right {
    background: rgb(38, 41, 44);
}

.modal__login>.split-pane>h5 {
    position: relative;
    font-size: 1.5em;
    letter-spacing: 0.1em;
    text-align: center;
}

.modal__login>.split-pane>h5::after {
    border-radius: 10px;
    content: '';
    display: block;
    width: 100%;
    height: 10px;
    position: absolute;
    left: 90%;
    top: 40%;
    background-color: skyblue;
}

.modal__login>.split-pane>h5::before {
    border-radius: 10px;
    content: '';
    display: block;
    width: 100%;
    height: 10px;
    position: absolute;
    left: -90%;
    top: 40%;
    background-color: skyblue
}

.modal__login>.split-pane>ol>*+* {
    margin-top: 20px;
}

/* ------------------ Animation Key Frames ----------------- */

@keyframes scale-bounce {

    0%,
    10% {
        transform: scale(1.0);
    }

    20% {
        transform: scale(1.1);
    }

    30% {
        transform: scale(1.0);
    }

    32% {
        transform: scale(1.1);
    }

    34% {
        transform: scale(1.0);
    }

    36% {
        transform: scale(1.0);
    }

    38% {
        transform: scale(1.1);
    }

    40% {
        transform: scale(1.0);
    }

    90%,
    100% {
        transform: scale(1.0);
    }
}

@keyframes move {

    0% {
        transform: scaleX(1.0);
        left: -10%;

    }

    50% {
        transform: scaleX(1.5);
    }

    100% {
        transform: scaleX(1.0);
        left: 100%;
    }

}

@keyframes op {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
    
}